body {
    margin: 0;
}
.container {
    width: 1280px;
    margin-left: -16px;
}
#logo:link {
    text-decoration: none; /*Установил цвет ссылки и убрал нижнее подчеркивание*/
    color: #4bcaff;
}
#logo:visited {
    color: #4bcaff; /*Чтобы цвет ссылки не менялся после нажатия*/
}
.header {
    height: 128px;
    margin-top: 52px;      /*Здесь стили верхнего блока*/
}
.header>span {
    font-family: Arial;
    font-size: 74px;
    padding-left: 101px;               /*Здесь задается стиль верхнего логотипа"*/
}
.nav {
    width: 1080px;
    height: 69px;                        /*Здесь задается размер верхнего блока с менюшкой"*/
    margin: 0 100px 0 100px;
    background-color: #35444f;
}
.top_nav_bar {
    margin: 0;
    padding-left: 57px;
}
button {
    border: 0;
    font-family: Arial;                   /*Стиль кнопок верхней менюшки*/
    color: white;
    font-size: 22px;
    text-align: center;
    background-color: #35444f;
}
#one {
    margin-left: 55px;
   width: 331px;
    height: 69px;
}
#two {
    width: 150px;
    height: 69px;
}
#three {
    width: 267px;
    height: 69px;
}
#four {
    width: 217px;
    height: 69px;
}
button:hover {
    background-color: #222f3a;
}
.wrapper {
    margin-top: 51px;
    margin-left: 100px;
    height: 579px;
}
.left_side_bar {
    width: 342px;
    height: 397px;
    border: 1px #35444f solid;
    display: inline-block;
}
td {
    padding: 0;
}
.menu tr td button {
    border: 0;
    padding-left: 44px;
    width: 336px;
    height: 76px;
    background-color: white;
    color: #495863;
    font-size: 25px;
    font-family: Arial;
    text-align: justify;
}
.menu tr td button:hover {
    background-color: #dbdbdb;
    color: #000000;
    padding-left: 70px;
}
.content {
    float: right;
    margin-right: 99px;
}
.image {
    width: 683px;
    height: 527px;
    border: 1px #35444f solid;
}
img {
    padding: 75px 180px;
}
img:hover {
    height: 400px;
    width: 340px;
}
.text {
    height: 350px;
    margin-left: 526px;
    width: 620px;
    text-align: left;
}
p {
    margin: 0;
    font-family: Algerian;
}
.footer {
    width: 1080px;
    height: 69px;
    margin-left: 100px;
    margin-bottom: 30px;
    border: 0;
    background-color: #b4b7ba;
}
.bottom_nav_bar {
    margin: 0;
    padding-left: 44px;
}
.bottom_nav_bar>li {
    display: inline-block;
    padding-top: 21px;
    font-size: 23px;
    font-family: Arial;
}
a:link {
    text-decoration: none;
    color: #0c1927;
}
a:visited {
    color: #0c1927;
}
a:hover {
    color: #3181a6;
    text-decoration: underline;
}
.btn {
    margin-top: 20px;
    width: 250px;
    height: 125px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 25px;
}

.change_color_btns {
    background-color: tomato;
    color: white;
}
.change_color_divs {
    background-color: #305db8;
    color: white;
}