html, body {
    height: 100%;
    width: 100%;
}

table {
    width: 1000px;
    height: 600px;
    border: 2px black solid;
    margin-right: auto;
    margin-left: auto;
    border-spacing: 0;
}

table > tr {
    height: 20px;
}

td {
    width: 33px;
    border: 1px black solid;
}

.active {
    background-color: black;
}