body {
    margin: 0;
}
.wrapper {
    width: 1366px;
    height: 768px;
    margin-left: auto;
    margin-right: auto;
    background:
        /* top, transparent black, faked with gradient */
            linear-gradient(
                    rgba(0, 0, 0, 0.7),
                    rgba(0, 0, 0, 0.7)
            ),
                /* bottom, image */
            url("../img/background@1X (1).png");
}
.header {
    height: 141px;
}
.header div {
    display: inline-block;
    box-sizing: content-box;
}
.top_logo {
    margin-left: 157px;
    margin-top: 49px;

}
.fas.fa-church {
    font-size: 44px;
    color: white;
}
.txt {
    color: white;
    margin-left: 15px;
    margin-top: -4px;
    font-family: Verdana;
    font-weight: bold;
    float: right;
}
.milan {
  font-size: 1.62em;
}
.holidays {

}
.adress {
    margin-right: 147px;
    margin-top: 57px;
    color: white;
    font-family: Verdana;
    text-align: right;
    font-size: 18px;
    position: relative;
    left: 642px;
}
.main {
    display: inline-block;
}
.main div {
    text-align: center;
    padding-left: 69px;
    float: left;
}
.top_left, .bottom_left {
    margin-left: 88px;
}
.top_left, .top_middle, .top_right {
    padding-bottom: 48px;
}
p {
    padding-top: 14px;
    margin: 0;
    font-family: Verdana;
    font-size: 18px;
    color: white;
}
.bottom_left, .bottom_middle, .bottom_right {
    padding-bottom: 0;
}
.footer {
   text-align: center;
    font-family: Verdana;
    padding-top: 57px;
    font-size: 12px;
    color: white;
    clear: left;
}
#adress {

    text-align: right;
    font-size: 18px;
}
a:link {
    text-decoration: none;
}
.top_logo:hover [class] {
    color: #f26522;                /*Используй атрибуты для таких головняковских случаев*/
}
/*a:hover .fas.fa-church,.milan.holidays {
    color: #f26522;
}*/
span {
    color: white;
}
.top_left>.hidden_one {
    padding: 0;
    width: 307px;
    height: 63px;
    position: absolute;
    top: 278px;                             /*Стиль для всплывающего окна*/
    background: #f26522;
    opacity: 0;
}
.hidden_one>.shopping {
    padding-left: 21px;
    padding-bottom: 17px;
    position: absolute;
    top: 0;
    font-family: Verdana;
    font-size: 20px;
}
.hidden_one>.shopping_milano {
    padding-left: 185px;
    padding-bottom: 17px;
    position: absolute;
    top: 26px;
    font-size: 14px;
    font-family: Verdana;
}
.shopping_milano::after {
    color: white;
    content: ">";
}
#from_one {
    text-align: left;
    font-size: 10px;
}

.top_middle>.hidden_two {
    padding: 0;
    width: 307px;
    height: 63px;
    position: absolute;
    top: 278px;                             /*Стиль для всплывающего окна*/
    background: #f26522;
    opacity: 0.6%;
}
.hidden_two>.sightseeing {
    padding-left: 21px;
    padding-bottom: 17px;
    position: absolute;
    top: 0;
    font-family: Verdana;
    font-size: 20px;
}
.hidden_two>.sightseeing_tour {
    padding-left: 185px;
    padding-bottom: 17px;
    position: absolute;
    top: 26px;
    font-size: 14px;
    font-family: Verdana;
}
.sightseeing_tour::after {
    color: white;
    content: ">";
}
#from_two {
    text-align: left;
    font-size: 10px;
}
.top_right>.hidden_three {
    padding: 0;
    width: 307px;
    height: 63px;
    position: absolute;
    top: 278px;                             /*Стиль для всплывающего окна*/
    background: #f26522;
    opacity: 0;
}
.hidden_three>.food {
    padding-left: 21px;
    padding-bottom: 17px;
    position: absolute;
    top: 0;
    font-family: Verdana;
    font-size: 20px;
}
.hidden_three>.food_tours {
    padding-left: 185px;
    padding-bottom: 17px;
    position: absolute;
    top: 26px;
    font-size: 14px;
    font-family: Verdana;
}
.food_tours::after {
    color: white;
    content: ">";
}
#from_three {
    text-align: left;
    font-size: 10px;
}
.bottom_left>.hidden_four {
    padding: 0;
    width: 307px;
    height: 63px;
    position: absolute;
    top: 572px;                             /*Стиль для всплывающего окна*/
    background: #f26522;
    opacity: 0;
}
.hidden_four>.bars {
    padding-left: 21px;
    padding-bottom: 17px;
    position: absolute;
    top: 0;
    font-family: Verdana;
    font-size: 20px;
}
.hidden_four>.nightlife {
    padding-left: 185px;
    padding-bottom: 17px;
    position: absolute;
    top: 26px;
    font-size: 14px;
    font-family: Verdana;
}
.nightlife::after {
    color: white;
    content: ">";
}
#from_four {
    text-align: left;
    font-size: 10px;
}
.bottom_middle>.hidden_five {
    padding: 0;
    width: 307px;
    height: 63px;
    position: absolute;
    top: 572px;                             /*Стиль для всплывающего окна*/
    background: #f26522;
    opacity: 0;
}
.hidden_five>.art {
    padding-left: 21px;
    padding-bottom: 17px;
    position: absolute;
    top: 0;
    font-family: Verdana;
    font-size: 20px;
}
.hidden_five>.architecture {
    padding-left: 185px;
    padding-bottom: 17px;
    position: absolute;
    top: 26px;
    font-size: 14px;
    font-family: Verdana;
}
.architecture::after {
    color: white;
    content: ">";
}
#from_five {
    text-align: left;
    font-size: 10px;
}
.bottom_right>.hidden_six {
    padding: 0;
    width: 307px;
    height: 63px;
    position: absolute;
    top: 572px;                             /*Стиль для всплывающего окна*/
    background: #f26522;
    opacity: 0;
}
.hidden_six>.walk {
    padding-left: 21px;
    padding-bottom: 17px;
    position: absolute;
    top: 0;
    font-family: Verdana;
    font-size: 20px;
}
.hidden_six>.walking_tours {
    padding-left: 185px;
    padding-bottom: 17px;
    position: absolute;
    top: 26px;
    font-size: 14px;
    font-family: Verdana;
}
.walking_tours::after {
    color: white;
    content: ">";
}
#from_six {
    text-align: left;
    font-size: 10px;
}
.bottom_right>.hidden_six:hover, .top_left>.hidden_one:hover, .top_middle>.hidden_two:hover, .top_right>.hidden_three:hover, .bottom_left>.hidden_four:hover, .bottom_middle>.hidden_five:hover {
    animation: y1 4s 1;
}
p>a:visited {
    color: white;             /*link > visited > hover Не забывай!!!!!!*/
}
p>a:hover {
    color: #f26522;
}
img {
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, red 0%, green 100%);
    -webkit-border-image: -webkit-linear-gradient(top, green 0%, yellow 100%);
    border-image: linear-gradient(to bottom, green 0%, yellow 100%);
    border-image-slice: 1;
}
@keyframes y1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

