html body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.star_wars {
    background-color: black;
    width: 100%;
    height: 100%;
}
.content {
    position: absolute;
    width: 50%;
    height: 70%;
    margin-left: 25%;
    margin-right: 25%;
    color: gold;
    font-size: 33px;
    text-align: center;
    font-weight: bold;
    transform: perspective(200px) rotateX(30deg);
}
.main_txt {
    position: absolute;
    animation: qwerty 50s linear infinite;
}
@keyframes qwerty {
    0% {
        top: 100%;
    }
    100% {
        top: -250%;
    }
}


