html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
#top {
    visibility: hidden;
    background-color: #f26522;
    position: fixed;
    width: 50px;
    height: 30px;
    right: 30px;
    bottom: 30px;
}
#toggle {
    background-color: #f26522;
    width: 150px;
    height: 50px;
    font-weight: bold;
    color: white;
    display: inline;
}
/*Верхнее меню*/
.div_list .list a {
    color: white;
    text-decoration: none;
}
.div_list .list a:hover {
    color: #14b9d5;
    cursor: pointer;
}
.top_navbar {
    background-color: #1d2124;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.pointer {
    height: 48px;
    width: 68px;
    background-color: #1a1d20;
    text-align: center;
    padding-top: 20px;
}
.architect {
    font-size: 22px;
    padding-left: 6px;
    color: white;
    font-weight: bold;
}
.div_list {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.list {
    font-size: 15px;
    color: white;
}
.searcher {
    height: 43px;
    width: 68px;
    background-color: #171a1c;
    text-align: center;
    padding-top: 25px;
    color: white;
}
/*Latest news*/
.header {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../hw6/img/bckgrnd-img/html_css_homework_homework6_img_header-bg.jpeg");
    height: 375px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.latest_news {
    color: white;
    font-size: 27px;
}
.buttons {
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.subscribe {
    width: 170px;
    height: 55px;
    background-color: #89ca62;
    color: white;
    border: 0;
    border-radius: 5%;
    font-size: 18px;
}
.articles {
    width: 170px;
    height: 55px;
    background-color: #14b9d5;
    color: white;
    border: 0;
    border-radius: 5%;
    font-size: 18px;
}
/*Most popular posts*/
.content {
    height: 1030px;
    background-color: #f2f2f2;
    padding-top: 60px;
}
.flex_content {
    width: 61.5%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 52px;
    flex-wrap: wrap;
}
.flex_content div {
    align-self: flex-start;
}
.flex_content div p {
    margin-bottom: 0;
    height: 43px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
}
.posts {
    font-size: 27px;
    color: #18b4cf;
    text-align: center;
    font-weight: bold;
}
.canada, .royal_USA, .spain, .sunrise_USA, .stargaze_USA, .france {
    background-color: white;
}
.royal_USA, .spain, .france {
    margin-top: 32px;
}
/*Most popular clients. Grid start*/
.top_grid {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../hw6/img/bckgrnd-img/html_css_homework_homework6_img_parallax-bg.jpeg");
    height: 590px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
}
.supertop_grid {
    width: 46%;
    margin: auto auto;
    display: grid;
    grid-template-areas: "header"
                          "middle"
                         "footer";
    grid-gap: 58px;
}
.clients {
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    padding-top: 199px;
    grid-area: header;
}
.line {
    grid-area: middle;
}
.logos {
    display: grid;
    grid-gap: 76px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area: footer;
}
.national_post {
    padding-top: 7px;
}
/*Top Rated*/
.rating {
    height: 342px;
}
.top_rated {
    padding-top: 63px;
    text-align: center;
    color: #18b4cf;
    font-size: 27px;
    font-weight: bold;
}
.rated_grid {
    padding-top: 52px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
/*Hot News*/
.news {
    margin-top: 60px;
    text-align: center;
    color: #18b4cf;
    font-size: 27px;
    font-weight: bold;
}
.main_grid {
    padding-top: 51px;
    display: grid;
    width: 61.5%;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas: "topper"
                     "middle_topper"
                      "middle_bottomer"
                       "bottomer";
    grid-gap: 43px
}
.topper {
    display: grid;
    height: 259px;
    grid-template-rows: 73% 27%;
    grid-gap: 35px;
    grid-area: topper;
    grid-template-areas: "top_left top_right";
}
.middle_topper {
    display: grid;
    grid-template-rows: 1fr;
   /* grid-template-columns: 1fr 1fr;*/
    grid-gap: 60px;
    grid-area: middle_topper;
    grid-template-areas: "middle_top_one middle_top_two";
}
.middle_bottomer {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 60px;
    grid-area: middle_bottomer;
    grid-template-areas: "middle_bottom_one middle_bottom_two";
}
.bottomer {
    height: 259px;
    display: grid;
    grid-template-rows: 27% 73%;
    grid-gap: 35px;
    grid-area: bottomer;
    grid-template-areas: "bottom_one bottom_two";
}
/*Emirate block*/
.emirate {
    height: 259px;
     grid-area: top_left;
    background-color: #f9f7f7;
    display: grid;
    grid-template-areas: "emirate_left emirate_right";
}
.emirate_img {
    grid-area: emirate_left;
    height: 259px;
}
.emirate_txt {
    grid-area: emirate_right;
    height: 259px;
}
.emirate .news_header {
    padding-top: 23px;
    padding-right: 24px;
    text-align: right;
}
.emirate .txt {
    padding-left: 30px;
    padding-right: 24px;
    text-align: right;
}
/*Nebula block*/
.nebula {
    height: 259px;
    grid-area: top_right;
    background-color: #f9f7f7;
}
.nebula .news_header {
    margin: 0;
    text-align: center;
    padding-top: 7px;
}
.news_header {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
.txt {
    font-size: 14px;
    color: #5b6469;
    text-align: right;
}
.egypt {
    height: 418px;
    grid-area: middle_top_one;
    background-color: #f9f7f7;
}
.egypt p {
    padding-right: 27px;
    padding-left: 22px;
}
.maldives {
    height: 418px;
    grid-area: middle_top_two;
    background-color: #f9f7f7;
}
.maldives p {
    padding-right: 27px;
    padding-left: 22px;
}
.tenerife {
    height: 416px;
    grid-area: middle_bottom_one;
    background-color: #f9f7f7;
}
.britain {
    height: 416px;
    grid-area: middle_bottom_two;
    background-color: #f9f7f7;
}
.tenerife p {
    padding-right: 27px;
    padding-left: 22px;
}
.britain p {
    padding-right: 27px;
    padding-left: 22px;
}
.ireland {
    height: 259px;
    grid-area: bottom_one;
    background-color: #f9f7f7;
}
.king_shroud {
    height: 259px;
    grid-area: bottom_two;
    background-color: #f9f7f7;
    display: grid;
    grid-template-areas: "shroud_left shroud_right";
}
.shroud_img {
    height: 259px;
    grid-area: shroud_left;
}
.shroud_txt {
    height: 259px;
    grid-area: shroud_right;
}
.king_shroud .news_header {
    padding-top: 23px;
    padding-right: 24px;
    text-align: right;
}
.king_shroud .txt {
    padding-left: 30px;
    padding-right: 24px;
    text-align: right;
}
.ireland .news_header {
    margin: 0;
    text-align: center;
    padding-top: 7px;
}
/*FOOTER*/
.footer {
    height: 80px;
    background-color: #1d2124;
    margin-top: 71px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 66% 34%;
}
.license {
    color: white;
    font-size: 13px;
    text-align: center;
    padding-top: 32px;
}
.lioit {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 36.5% 63.5%;
    color: white;
    font-size: 16px;
    font-weight: bold;

}
.lioit_img {
    text-align: right;
    padding-top: 27px;
}
.lioit_txt {
    text-align: left;
    padding-top: 24px;
}

