body {
    text-align: center;
}

#ip-button {
    height: 75px;
    width: 250px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background-color: yellow;
    color: blue;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#ip-button:hover {
    background-color: red;
    color: black;
}

li {
    list-style: none;
}