@mixin flexBoxRowCenter
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between


@mixin marginAuto
  margin-left: auto
  margin-right: auto


@mixin flexBoxColumn
  display: flex
  flex-direction: column
  justify-content: space-evenly


@mixin mainFont ($property, $color, $weight)
  font-family: $mainFont
  color: $color
  font-size: $property
  font-weight: $weight






