body, html
  font-size: 16px
  @include for-device-640
    font-size: 36px
  @include for-device-980
    font-size: 54px
  @include for-laptop
    font-size: 62px

.wrapper
  width: 100%


/*TOP MENU*/

.top-nav
  @include flexBoxRowCenter
  height: 37px
  @include for-device-640
    height: 74px
  @include for-device-980
    height: 97px
    position: static
  @include for-laptop
    height: 97px
    position: static
  background-color: $topMenuBgColor
  position: relative

  &__nav
    width: 100%
    @include for-device-640
      width: 87%
      font-size: 24px
    height: 100%
    color: $headerTextColor
    font-family: $navigationAndFooterFont
    font-weight: 400
    font-size: 0.750em
    padding-left: 1.55em
    @include for-device-980
      display: none
    @include for-laptop
      display: none

    &--hide
      display: none
      @include for-device-980
        @include flexBoxRowCenter
        justify-content: flex-end
        margin-right: 30px
        width: 35.7%
      @include for-laptop
        @include flexBoxRowCenter
        justify-content: flex-end
        margin-right: 38px
        width: 35.7%

    &--txt-center
      margin-top: 10px
      @include for-device-640
        margin-top: 26px


  &__menu-btn
    width: 15%
    height: 100%
    background-color: $topBtnBgColor
    color: $headerTextColor
    border: 0
    font-size: 1em
    @include for-device-980
      display: none
    @include for-laptop
      display: none

  &__list
    list-style: none
    padding-left: 0
    margin: 0
    position: absolute
    left: 36%
    top: 100%
    background-color: $dropDownMenuBgColor
    width: 64%
    height: 161px
    @include for-device-640
      height: 214px
      font-size: 14px
    font-family: $mainFont
    font-size: 0.750em
    font-weight: 400
    @include flexBoxColumn
    visibility: hidden
    @include for-device-980
      position: static
      visibility: visible
      @include flexBoxRowCenter
      background-color: $topMenuBgColor
      border: 0
      font-size: 15px
      color: $headerTextColor
      height: 97px
      font-family: $navigationAndFooterFont
      width: 100%
      margin-left: 30px
      text-transform: uppercase
    @include for-laptop
      position: static
      visibility: visible
      @include flexBoxRowCenter
      background-color: $topMenuBgColor
      border: 0
      font-size: 15px
      color: $headerTextColor
      height: 97px
      font-family: $navigationAndFooterFont
      width: 100%
      margin-left: 37px
      text-transform: uppercase


  &__item
    height: 16.5%
    border-bottom: 2px #f3f3f3 solid
    padding-left: 0.750em
    padding-top: 7px
    @include for-device-640
      padding-top: 12px
      padding-left: 27px
    @include for-device-980
      border-bottom: 0
    @include for-laptop
      border-bottom: 0

    &:hover
      background-color: #f5f5f5
      cursor: pointer
      @include for-device-980
        color: $mainColor
        background-color: $topMenuBgColor
      @include for-laptop
        color: $mainColor
        background-color: $topMenuBgColor


/*PIZZA BACKGROUND IMAGES*/

.img-wrapper
  display: grid
  grid-template-areas: "header" "middlefirst" "middlesecond" "footer"
  grid-template-rows: 43% 19.5% 19% 19%
  @include for-device-980
    display: flex
    flex-direction: column
  @include for-laptop
    display: flex
    flex-direction: column

  .rest-images-wrapper
    @include for-device-980
      width: 100%
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
      margin-top: 6px
    @include for-laptop
      width: 100%
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
      margin-top: 6px
      height: 394px

  .top-img
    grid-area: header
    background: url("../img/header-fon copy 3@1X.png") no-repeat
    background-size: cover
    height: 173px
    @include for-device-640
      height: 346px
    width: 100%
    @include for-device-980
      height: 530px
    @include for-laptop
      height: 649px

    &__paragraf
      margin-top: 0.938em
      margin-left: 1.250em
      @include mainFont(1em, $headerTextColor, 700)
      @include for-device-980
        margin-left: 30px
      @include for-laptop
        margin-left: 37px

      &--closer
        margin-left: 1.250em
        margin-top: -12px
        @include for-device-640
          margin-top: -40px
        @include for-device-980
          margin-left: 30px
          margin-top: -55px
        @include mainFont(1em, $headerTextColor, 700)
        @include for-laptop
          margin-left: 37px
          margin-top: -55px

      &--smaller-marine
        margin-left: 1.4em
        margin-top: -9px
        @include for-device-640
          font-size: 24px
          margin-left: 44px
          margin-top: -22px
        @include for-device-980
          margin-left: 30px
          font-size: 34px
        @include mainFont(0.875em, $siteRootTextColor, 700)
        @include for-laptop
          margin-left: 37px
          @include mainFont(36px, $siteRootTextColor, 700)
          margin-top: -20px


  &__name
    @include mainFont(1.250em, $headerTextColor, 500)
    padding-left: 64px
    margin-top: 14px
    @include for-device-640
      padding-left: 135px
      margin-top: 30px
      @include mainFont(1em, $headerTextColor, 700)
    @include for-device-980
      @include mainFont(0.704em, $headerTextColor, 700)
      padding-left: 42px
    @include for-laptop
      @include mainFont(0.704em, $headerTextColor, 700)
      padding-left: 57px

    &--lefter
      @include mainFont(1.250em, $headerTextColor, 500)
      padding-left: 75px
      margin-top: 20px
      @include for-device-640
        padding-left: 140px
        margin-top: 30px
        @include mainFont(1em, $headerTextColor, 700)
      @include for-device-980
        @include mainFont(0.704em, $headerTextColor, 700)
        padding-left: 44px
      @include for-laptop
        @include mainFont(0.704em, $headerTextColor, 700)
        padding-left: 59px

    &--lefterer
      @include mainFont(1.250em, $headerTextColor, 500)
      padding-left: 84px
      margin-top: 18px
      @include for-device-640
        padding-left: 186px
        margin-top: 30px
        @include mainFont(1em, $headerTextColor, 700)
      @include for-device-980
        @include mainFont(0.704em, $headerTextColor, 700)
        padding-left: 88px
      @include for-laptop
        @include mainFont(0.704em, $headerTextColor, 700)
        padding-left: 116px

  &__btn
    width: 22.2%
    height: 75px
    @include for-device-640
      height: 150px
    background-color: $mainColor
    border: 0
    color: $headerTextColor
    font-size: 1.118em
    @include for-device-980
      display: none
    @include for-laptop
      display: none

  .middlefirst-img
    margin-top: 3px
    grid-area: middlefirst
    background: url("../img/Pizza delivery fon copy 3@1X.png") -19px 95% no-repeat
    background-size: 86%
    height: 75px
    @include for-device-640
      height: 150px
      margin-top: 5px
      background-position: 0 76%
      background-size: 82%
    @include flexBoxRowCenter
    @include for-device-980
      width: 33.3%
      height: 321px
      background-size: 100%
      background-position: 0 -33px
      margin-top: -7px
    @include for-laptop
      width: 33.3%
      height: 100%
      background-size: 100%
      background-position: 0 -33px
      margin-top: 0

  .middlesecond-img
    margin-top: 1px
    grid-area: middlesecond
    background: url("../img/UA_UX Salads fon copy 3@1X.png") -1px 93% no-repeat
    background-size: 78%
    height: 75px
    @include for-device-640
      height: 150px
      background-position: 0 73%
    @include flexBoxRowCenter
    @include for-device-980
      width: 33.3%
      height: 327px
      background-size: 100%
      background-position: 0 0
      margin-top: 0
    @include for-laptop
      width: 33.3%
      height: 100%
      background-size: 100%
      background-position: 0 0
      margin-top: 0


  .footer-img
    margin-top: 1px
    grid-area: footer
    background: url("../img/Desserts fon copy 3@1X.png") 0 16% no-repeat
    background-size: 78%
    height: 75px
    @include for-device-640
      height: 150px
      background-position: 0 8%
    @include flexBoxRowCenter
    @include for-device-980
      width: 33.3%
      height: 327px
      background-size: 100%
      background-position: 0 0
      margin-top: 0
    @include for-laptop
      width: 33.3%
      height: 100%
      background-size: 100%
      background-position: 0 0
      margin-top: 0



/*for top menu*/

.active
  visibility: visible
















