/*MENU Header*/

.menu
  display: grid
  grid-template-areas: "top" "footer"
  grid-template-rows: 66px 1fr
  @include for-device-640
    grid-template-rows: 126px 1fr
  @include for-device-980
    display: grid
    grid-template-areas: "top" "footer"
    grid-template-rows: 150px 1fr
  @include for-laptop
    display: grid
    grid-template-areas: "top" "footer"
    grid-template-rows: 154px 1fr

  &__footer
    @include for-device-980
      grid-area: footer
      display: flex
      flex-direction: row
      align-items: flex-start
      justify-content: flex-start
    @include for-laptop
      grid-area: footer
      display: flex
      flex-direction: row
      align-items: flex-start
      justify-content: flex-start

  &__header-right
    display: none

    &--invisible
      display: none
      @include for-device-980
        display: flex
        padding-right: 30px
        margin-top: 40px
      @include for-laptop
        display: flex
        padding-right: 12px
        margin-top: 40px


  &__header
    grid-area: top
    @include for-device-980
      @include flexBoxRowCenter
    @include for-laptop
      @include flexBoxRowCenter

    &--big-upper-case
      @include mainFont(1.215em, $menuListColor, 400)
      margin-top: 21px
      margin-bottom: 0
      margin-left: 0.4em
      @include for-device-640
        @include mainFont(1.05em, $menuListColor, 400)
        margin-top: 40px
      @include for-device-980
        @include mainFont(33px, $menuListColor, 400)
        margin-left: 30px
        margin-top: 56px
      @include for-laptop
        @include mainFont(40px, $menuListColor, 400)
        margin-left: 22px
        margin-top: 56px

    &--small-low-case
      @include mainFont(0.625em, rgba(203, 204, 206, 255), 400)
      margin-top: 0
      margin-left: 1em
      margin-bottom: 0
      @include for-device-640
        margin-left: 0.9em
        @include mainFont(0.525em, rgba(203, 204, 206, 255), 400)
      @include for-device-980
        @include mainFont(19px, rgba(203, 204, 206, 255), 400)
        margin-left: 30px
      @include for-laptop
        @include mainFont(20px, rgba(203, 204, 206, 255), 400)
        margin-left: 22px

    &--dark-background
      height: 37px
      background-color: $topMenuBgColor
      @include mainFont(1.250em, $mainColor, 100)
      padding-left: 5.6%
      @include for-device-640
        height: 75px
        @include mainFont(1em, $mainColor, 100)
      @include for-device-980
        height: 75px
        @include mainFont(33px, $mainColor, 100)
        padding-left: 18px
      @include for-laptop
        height: 75px
        @include mainFont(40px, $mainColor, 100)
        padding-left: 18px


    &--light-green-background
      background-color: $mainColor
      height: 38px
      @include mainFont(1.250em, $headerTextColor, 100)
      padding-left: 5.6%
      @include for-device-640
        height: 75px
        @include mainFont(1em, $headerTextColor, 100)
      @include for-device-980
        height: 75px
        @include mainFont(33px, $headerTextColor, 100)
        padding-left: 15px
      @include for-laptop
        height: 75px
        @include mainFont(40px, $headerTextColor, 100)
        padding-left: 15px

    &--push-top
      padding-top: 7px
      @include for-device-640
        padding-top: 14px
      @include for-device-980
        padding-top: 18px
      @include for-laptop
        padding-top: 13px


  &__left-top
    grid-area: middle



  &__right-bottom
    grid-area: bottom
    margin-top: 17px
    @include for-device-640
      margin-top: 40px
    @include for-device-980
      margin-top: 0
    @include for-laptop
      margin-top: 0




/*Menu second header with font awesome*/

.menu-header-wrapper
  @include flexBoxRowCenter
  @include for-device-640
    margin-top: 10px

  &__lefter
   margin-left: 5.6%
   margin-top: 8px
   @include mainFont(0.938em, $menuListColor, 100)
   @include for-device-640
     @include mainFont(26px, $menuListColor, 100)
     margin-top: 24px
   @include for-device-980
     @include mainFont(24px, $menuListColor, 100)
   @include for-laptop
     @include mainFont(24px, $menuListColor, 100)
     margin-left: 4.6%


  &__righter
    color: $mainColor
    margin-right: 5.6%
    margin-top: 14px


.basic-menu
  @include flexBoxColumn

  &__description
    margin-top: 4px
    margin-left: 5.6%
    margin-right: 5.6%
    text-align: justify-all
    @include mainFont(0.58em, $menuListColor, 400)
    @include for-device-640
      @include mainFont(0.5em, $menuListColor, 400)
      margin-top: 16px
    @include for-device-980
      @include mainFont(15px, $menuListColor, 400)
      margin-top: 16px
    @include for-laptop
      @include mainFont(0.28em, $menuListColor, 400)
      margin-top: 16px
      margin-left: 4.6%


  &__point
    @include flexBoxRowCenter
    margin-top: 9px
    @include for-device-640
      margin-top: 22px
    @include for-laptop
      margin-top: 22px

    &--left
      margin-left: 5.6%
      @include mainFont(0.813em, $menuListColor, 400)
      @include for-device-640
        @include mainFont(0.750em, $menuListColor, 400)
      @include for-device-980
        @include mainFont(23px, $menuListColor, 400)
      @include for-laptop
        @include mainFont(21px, $menuListColor, 400)
        margin-left: 4.6%

    &--right
      margin-right: 5.6%
      @include mainFont(0.813em, $menuListColor, 700)
      @include for-device-640
        @include mainFont(0.750em, $menuListColor, 700)
      @include for-device-980
        @include mainFont(23px, $menuListColor, 700)
      @include for-laptop
        @include mainFont(21px, $menuListColor, 700)




/*Footer*/

.footer
  background-color: $mainColor
  height: 55px
  @include for-device-640
    height: 97px
    @include mainFont(18px, $headerTextColor, 400)
    margin-top: 117px
  @include mainFont(0.850em, $headerTextColor, 400)
  margin-top: 48px
  text-align: center
  @include for-device-980
    height: 97px
    @include mainFont(18px, $headerTextColor, 400)
    @include flexBoxRowCenter
    padding-left: 30px
    padding-right: 30px
    margin-top: 84px
  @include for-laptop
    height: 97px
    @include mainFont(18px, $headerTextColor, 400)
    @include flexBoxRowCenter
    padding-left: 37px
    padding-right: 37px
    margin-top: 128px

  &__img
    display: none
    @include for-device-980
      display: block
    @include for-laptop
      display: block

  &__container
    @include for-device-980
      @include flexBoxRowCenter
    @include for-laptop
      @include flexBoxRowCenter


  &__top
    padding-top: 13px
    @include for-device-640
      padding-top: 28px
    @include  for-device-980
      padding-top: 0
    @include for-laptop
      padding-top: 0

  &__bottom
    @include for-device-640
      padding-top: 7px
    @include  for-device-980
      margin-left: 3px
    @include for-laptop
      margin-left: 3px


/*Font Awesome styles and Pixel Perfect hone*/

.fas.fa-beer
  font-size: 22px
  @include for-device-640
    font-size: 42px
  @include for-device-980
    font-size: 42px
  @include for-laptop
    font-size: 48px

.fas.fa-wine-glass-alt
  font-size: 23px
  @include for-device-640
    font-size: 42px
  @include for-device-980
    font-size: 42px
  @include for-laptop
    font-size: 48px

.closer
  margin-right: 7.5%

.two-itemed
  margin-top: 4px

.four-itemed
  margin-top: 2px

.cup
  margin-right: 4.6%
  margin-top: 13px

.last
  margin-top: 17px


.nappkin
  @include for-device-640
    width: 49px
    height: 48px
    margin-top: 12px
  @include for-device-980
    width: 42px
    height: 42px
  @include for-laptop
    width: 49px
    height: 48px


.cup-o-tea
  @include for-device-640
    width: 61px
    height: 42px
  @include for-device-980
    width: 56px
    height: 39px
  @include for-laptop
    width: 61px
    height: 42px

.first-child
  @include for-device-640
    margin-top: 0

.invisible
  display: none
  @include for-device-980
    display: flex
  @include for-laptop
    display: flex



