/*Color variables*/
/*Font Name variables*/
body, html {
  font-size: 16px;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  body, html {
    font-size: 36px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  body, html {
    font-size: 54px;
  }
}
@media screen and (min-width: 985px) {
  body, html {
    font-size: 62px;
  }
}

.wrapper {
  width: 100%;
}

/*TOP MENU*/
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 37px;
  background-color: #373c3f;
  position: relative;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .top-nav {
    height: 74px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .top-nav {
    height: 97px;
    position: static;
  }
}
@media screen and (min-width: 985px) {
  .top-nav {
    height: 97px;
    position: static;
  }
}
.top-nav__nav {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  padding-left: 1.55em;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .top-nav__nav {
    width: 87%;
    font-size: 24px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .top-nav__nav {
    display: none;
  }
}
@media screen and (min-width: 985px) {
  .top-nav__nav {
    display: none;
  }
}
.top-nav__nav--hide {
  display: none;
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .top-nav__nav--hide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-end;
    margin-right: 30px;
    width: 35.7%;
  }
}
@media screen and (min-width: 985px) {
  .top-nav__nav--hide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-end;
    margin-right: 38px;
    width: 35.7%;
  }
}
.top-nav__nav--txt-center {
  margin-top: 10px;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .top-nav__nav--txt-center {
    margin-top: 26px;
  }
}
.top-nav__menu-btn {
  width: 15%;
  height: 100%;
  background-color: #202529;
  color: #ffffff;
  border: 0;
  font-size: 1em;
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .top-nav__menu-btn {
    display: none;
  }
}
@media screen and (min-width: 985px) {
  .top-nav__menu-btn {
    display: none;
  }
}
.top-nav__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  position: absolute;
  left: 36%;
  top: 100%;
  background-color: #fafafa;
  width: 64%;
  height: 161px;
  font-family: "Lato", italic;
  font-size: 0.75em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  visibility: hidden;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .top-nav__list {
    height: 214px;
    font-size: 14px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .top-nav__list {
    position: static;
    visibility: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #373c3f;
    border: 0;
    font-size: 15px;
    color: #ffffff;
    height: 97px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin-left: 30px;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 985px) {
  .top-nav__list {
    position: static;
    visibility: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #373c3f;
    border: 0;
    font-size: 15px;
    color: #ffffff;
    height: 97px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin-left: 37px;
    text-transform: uppercase;
  }
}
.top-nav__item {
  height: 16.5%;
  border-bottom: 2px #f3f3f3 solid;
  padding-left: 0.75em;
  padding-top: 7px;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .top-nav__item {
    padding-top: 12px;
    padding-left: 27px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .top-nav__item {
    border-bottom: 0;
  }
}
@media screen and (min-width: 985px) {
  .top-nav__item {
    border-bottom: 0;
  }
}
.top-nav__item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .top-nav__item:hover {
    color: #acd8ad;
    background-color: #373c3f;
  }
}
@media screen and (min-width: 985px) {
  .top-nav__item:hover {
    color: #acd8ad;
    background-color: #373c3f;
  }
}

/*PIZZA BACKGROUND IMAGES*/
.img-wrapper {
  display: grid;
  grid-template-areas: "header" "middlefirst" "middlesecond" "footer";
  grid-template-rows: 43% 19.5% 19% 19%;
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .img-wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 985px) {
  .img-wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .img-wrapper .rest-images-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
  }
}
@media screen and (min-width: 985px) {
  .img-wrapper .rest-images-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    height: 394px;
  }
}
.img-wrapper .top-img {
  grid-area: header;
  background: url("../img/header-fon copy 3@1X.png") no-repeat;
  background-size: cover;
  height: 173px;
  width: 100%;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .img-wrapper .top-img {
    height: 346px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .img-wrapper .top-img {
    height: 530px;
  }
}
@media screen and (min-width: 985px) {
  .img-wrapper .top-img {
    height: 649px;
  }
}
.img-wrapper .top-img__paragraf {
  margin-top: 0.938em;
  margin-left: 1.25em;
  font-family: "Lato", italic;
  color: #ffffff;
  font-size: 1em;
  font-weight: 700;
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .img-wrapper .top-img__paragraf {
    margin-left: 30px;
  }
}
@media screen and (min-width: 985px) {
  .img-wrapper .top-img__paragraf {
    margin-left: 37px;
  }
}
.img-wrapper .top-img__paragraf--closer {
  margin-left: 1.25em;
  margin-top: -12px;
  font-family: "Lato", italic;
  color: #ffffff;
  font-size: 1em;
  font-weight: 700;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .img-wrapper .top-img__paragraf--closer {
    margin-top: -40px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .img-wrapper .top-img__paragraf--closer {
    margin-left: 30px;
    margin-top: -55px;
  }
}
@media screen and (min-width: 985px) {
  .img-wrapper .top-img__paragraf--closer {
    margin-left: 37px;
    margin-top: -55px;
  }
}
.img-wrapper .top-img__paragraf--smaller-marine {
  margin-left: 1.4em;
  margin-top: -9px;
  font-family: "Lato", italic;
  color: #9ecad3;
  font-size: 0.875em;
  font-weight: 700;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .img-wrapper .top-img__paragraf--smaller-marine {
    font-size: 24px;
    margin-left: 44px;
    margin-top: -22px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .img-wrapper .top-img__paragraf--smaller-marine {
    margin-left: 30px;
    font-size: 34px;
  }
}
@media screen and (min-width: 985px) {
  .img-wrapper .top-img__paragraf--smaller-marine {
    margin-left: 37px;
    font-family: "Lato", italic;
    color: #9ecad3;
    font-size: 36px;
    font-weight: 700;
    margin-top: -20px;
  }
}
.img-wrapper__name {
  font-family: "Lato", italic;
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 500;
  padding-left: 64px;
  margin-top: 14px;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .img-wrapper__name {
    padding-left: 135px;
    margin-top: 30px;
    font-family: "Lato", italic;
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .img-wrapper__name {
    font-family: "Lato", italic;
    color: #ffffff;
    font-size: 0.704em;
    font-weight: 700;
    padding-left: 42px;
  }
}
@media screen and (min-width: 985px) {
  .img-wrapper__name {
    font-family: "Lato", italic;
    color: #ffffff;
    font-size: 0.704em;
    font-weight: 700;
    padding-left: 57px;
  }
}
.img-wrapper__name--lefter {
  font-family: "Lato", italic;
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 500;
  padding-left: 75px;
  margin-top: 20px;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .img-wrapper__name--lefter {
    padding-left: 140px;
    margin-top: 30px;
    font-family: "Lato", italic;
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .img-wrapper__name--lefter {
    font-family: "Lato", italic;
    color: #ffffff;
    font-size: 0.704em;
    font-weight: 700;
    padding-left: 44px;
  }
}
@media screen and (min-width: 985px) {
  .img-wrapper__name--lefter {
    font-family: "Lato", italic;
    color: #ffffff;
    font-size: 0.704em;
    font-weight: 700;
    padding-left: 59px;
  }
}
.img-wrapper__name--lefterer {
  font-family: "Lato", italic;
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 500;
  padding-left: 84px;
  margin-top: 18px;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .img-wrapper__name--lefterer {
    padding-left: 186px;
    margin-top: 30px;
    font-family: "Lato", italic;
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .img-wrapper__name--lefterer {
    font-family: "Lato", italic;
    color: #ffffff;
    font-size: 0.704em;
    font-weight: 700;
    padding-left: 88px;
  }
}
@media screen and (min-width: 985px) {
  .img-wrapper__name--lefterer {
    font-family: "Lato", italic;
    color: #ffffff;
    font-size: 0.704em;
    font-weight: 700;
    padding-left: 116px;
  }
}
.img-wrapper__btn {
  width: 22.2%;
  height: 75px;
  background-color: #acd8ad;
  border: 0;
  color: #ffffff;
  font-size: 1.118em;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .img-wrapper__btn {
    height: 150px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .img-wrapper__btn {
    display: none;
  }
}
@media screen and (min-width: 985px) {
  .img-wrapper__btn {
    display: none;
  }
}
.img-wrapper .middlefirst-img {
  margin-top: 3px;
  grid-area: middlefirst;
  background: url("../img/Pizza delivery fon copy 3@1X.png") -19px 95% no-repeat;
  background-size: 86%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .img-wrapper .middlefirst-img {
    height: 150px;
    margin-top: 5px;
    background-position: 0 76%;
    background-size: 82%;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .img-wrapper .middlefirst-img {
    width: 33.3%;
    height: 321px;
    background-size: 100%;
    background-position: 0 -33px;
    margin-top: -7px;
  }
}
@media screen and (min-width: 985px) {
  .img-wrapper .middlefirst-img {
    width: 33.3%;
    height: 100%;
    background-size: 100%;
    background-position: 0 -33px;
    margin-top: 0;
  }
}
.img-wrapper .middlesecond-img {
  margin-top: 1px;
  grid-area: middlesecond;
  background: url("../img/UA_UX Salads fon copy 3@1X.png") -1px 93% no-repeat;
  background-size: 78%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .img-wrapper .middlesecond-img {
    height: 150px;
    background-position: 0 73%;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .img-wrapper .middlesecond-img {
    width: 33.3%;
    height: 327px;
    background-size: 100%;
    background-position: 0 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 985px) {
  .img-wrapper .middlesecond-img {
    width: 33.3%;
    height: 100%;
    background-size: 100%;
    background-position: 0 0;
    margin-top: 0;
  }
}
.img-wrapper .footer-img {
  margin-top: 1px;
  grid-area: footer;
  background: url("../img/Desserts fon copy 3@1X.png") 0 16% no-repeat;
  background-size: 78%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .img-wrapper .footer-img {
    height: 150px;
    background-position: 0 8%;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .img-wrapper .footer-img {
    width: 33.3%;
    height: 327px;
    background-size: 100%;
    background-position: 0 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 985px) {
  .img-wrapper .footer-img {
    width: 33.3%;
    height: 100%;
    background-size: 100%;
    background-position: 0 0;
    margin-top: 0;
  }
}

/*for top menu*/
.active {
  visibility: visible;
}

/*MENU Header*/
.menu {
  display: grid;
  grid-template-areas: "top" "footer";
  grid-template-rows: 66px 1fr;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .menu {
    grid-template-rows: 126px 1fr;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .menu {
    display: grid;
    grid-template-areas: "top" "footer";
    grid-template-rows: 150px 1fr;
  }
}
@media screen and (min-width: 985px) {
  .menu {
    display: grid;
    grid-template-areas: "top" "footer";
    grid-template-rows: 154px 1fr;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .menu__footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 985px) {
  .menu__footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.menu__header-right {
  display: none;
}
.menu__header-right--invisible {
  display: none;
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .menu__header-right--invisible {
    display: flex;
    padding-right: 30px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 985px) {
  .menu__header-right--invisible {
    display: flex;
    padding-right: 12px;
    margin-top: 40px;
  }
}
.menu__header {
  grid-area: top;
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .menu__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 985px) {
  .menu__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.menu__header--big-upper-case {
  font-family: "Lato", italic;
  color: #3f4043;
  font-size: 1.215em;
  font-weight: 400;
  margin-top: 21px;
  margin-bottom: 0;
  margin-left: 0.4em;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .menu__header--big-upper-case {
    font-family: "Lato", italic;
    color: #3f4043;
    font-size: 1.05em;
    font-weight: 400;
    margin-top: 40px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .menu__header--big-upper-case {
    font-family: "Lato", italic;
    color: #3f4043;
    font-size: 33px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 56px;
  }
}
@media screen and (min-width: 985px) {
  .menu__header--big-upper-case {
    font-family: "Lato", italic;
    color: #3f4043;
    font-size: 40px;
    font-weight: 400;
    margin-left: 22px;
    margin-top: 56px;
  }
}
.menu__header--small-low-case {
  font-family: "Lato", italic;
  color: #cbccce;
  font-size: 0.625em;
  font-weight: 400;
  margin-top: 0;
  margin-left: 1em;
  margin-bottom: 0;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .menu__header--small-low-case {
    margin-left: 0.9em;
    font-family: "Lato", italic;
    color: #cbccce;
    font-size: 0.525em;
    font-weight: 400;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .menu__header--small-low-case {
    font-family: "Lato", italic;
    color: #cbccce;
    font-size: 19px;
    font-weight: 400;
    margin-left: 30px;
  }
}
@media screen and (min-width: 985px) {
  .menu__header--small-low-case {
    font-family: "Lato", italic;
    color: #cbccce;
    font-size: 20px;
    font-weight: 400;
    margin-left: 22px;
  }
}
.menu__header--dark-background {
  height: 37px;
  background-color: #373c3f;
  font-family: "Lato", italic;
  color: #acd8ad;
  font-size: 1.25em;
  font-weight: 100;
  padding-left: 5.6%;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .menu__header--dark-background {
    height: 75px;
    font-family: "Lato", italic;
    color: #acd8ad;
    font-size: 1em;
    font-weight: 100;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .menu__header--dark-background {
    height: 75px;
    font-family: "Lato", italic;
    color: #acd8ad;
    font-size: 33px;
    font-weight: 100;
    padding-left: 18px;
  }
}
@media screen and (min-width: 985px) {
  .menu__header--dark-background {
    height: 75px;
    font-family: "Lato", italic;
    color: #acd8ad;
    font-size: 40px;
    font-weight: 100;
    padding-left: 18px;
  }
}
.menu__header--light-green-background {
  background-color: #acd8ad;
  height: 38px;
  font-family: "Lato", italic;
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 100;
  padding-left: 5.6%;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .menu__header--light-green-background {
    height: 75px;
    font-family: "Lato", italic;
    color: #ffffff;
    font-size: 1em;
    font-weight: 100;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .menu__header--light-green-background {
    height: 75px;
    font-family: "Lato", italic;
    color: #ffffff;
    font-size: 33px;
    font-weight: 100;
    padding-left: 15px;
  }
}
@media screen and (min-width: 985px) {
  .menu__header--light-green-background {
    height: 75px;
    font-family: "Lato", italic;
    color: #ffffff;
    font-size: 40px;
    font-weight: 100;
    padding-left: 15px;
  }
}
.menu__header--push-top {
  padding-top: 7px;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .menu__header--push-top {
    padding-top: 14px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .menu__header--push-top {
    padding-top: 18px;
  }
}
@media screen and (min-width: 985px) {
  .menu__header--push-top {
    padding-top: 13px;
  }
}
.menu__left-top {
  grid-area: middle;
}
.menu__right-bottom {
  grid-area: bottom;
  margin-top: 17px;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .menu__right-bottom {
    margin-top: 40px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .menu__right-bottom {
    margin-top: 0;
  }
}
@media screen and (min-width: 985px) {
  .menu__right-bottom {
    margin-top: 0;
  }
}

/*Menu second header with font awesome*/
.menu-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .menu-header-wrapper {
    margin-top: 10px;
  }
}
.menu-header-wrapper__lefter {
  margin-left: 5.6%;
  margin-top: 8px;
  font-family: "Lato", italic;
  color: #3f4043;
  font-size: 0.938em;
  font-weight: 100;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .menu-header-wrapper__lefter {
    font-family: "Lato", italic;
    color: #3f4043;
    font-size: 26px;
    font-weight: 100;
    margin-top: 24px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .menu-header-wrapper__lefter {
    font-family: "Lato", italic;
    color: #3f4043;
    font-size: 24px;
    font-weight: 100;
  }
}
@media screen and (min-width: 985px) {
  .menu-header-wrapper__lefter {
    font-family: "Lato", italic;
    color: #3f4043;
    font-size: 24px;
    font-weight: 100;
    margin-left: 4.6%;
  }
}
.menu-header-wrapper__righter {
  color: #acd8ad;
  margin-right: 5.6%;
  margin-top: 14px;
}

.basic-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.basic-menu__description {
  margin-top: 4px;
  margin-left: 5.6%;
  margin-right: 5.6%;
  text-align: justify-all;
  font-family: "Lato", italic;
  color: #3f4043;
  font-size: 0.58em;
  font-weight: 400;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .basic-menu__description {
    font-family: "Lato", italic;
    color: #3f4043;
    font-size: 0.5em;
    font-weight: 400;
    margin-top: 16px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .basic-menu__description {
    font-family: "Lato", italic;
    color: #3f4043;
    font-size: 15px;
    font-weight: 400;
    margin-top: 16px;
  }
}
@media screen and (min-width: 985px) {
  .basic-menu__description {
    font-family: "Lato", italic;
    color: #3f4043;
    font-size: 0.28em;
    font-weight: 400;
    margin-top: 16px;
    margin-left: 4.6%;
  }
}
.basic-menu__point {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 9px;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .basic-menu__point {
    margin-top: 22px;
  }
}
@media screen and (min-width: 985px) {
  .basic-menu__point {
    margin-top: 22px;
  }
}
.basic-menu__point--left {
  margin-left: 5.6%;
  font-family: "Lato", italic;
  color: #3f4043;
  font-size: 0.813em;
  font-weight: 400;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .basic-menu__point--left {
    font-family: "Lato", italic;
    color: #3f4043;
    font-size: 0.75em;
    font-weight: 400;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .basic-menu__point--left {
    font-family: "Lato", italic;
    color: #3f4043;
    font-size: 23px;
    font-weight: 400;
  }
}
@media screen and (min-width: 985px) {
  .basic-menu__point--left {
    font-family: "Lato", italic;
    color: #3f4043;
    font-size: 21px;
    font-weight: 400;
    margin-left: 4.6%;
  }
}
.basic-menu__point--right {
  margin-right: 5.6%;
  font-family: "Lato", italic;
  color: #3f4043;
  font-size: 0.813em;
  font-weight: 700;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .basic-menu__point--right {
    font-family: "Lato", italic;
    color: #3f4043;
    font-size: 0.75em;
    font-weight: 700;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .basic-menu__point--right {
    font-family: "Lato", italic;
    color: #3f4043;
    font-size: 23px;
    font-weight: 700;
  }
}
@media screen and (min-width: 985px) {
  .basic-menu__point--right {
    font-family: "Lato", italic;
    color: #3f4043;
    font-size: 21px;
    font-weight: 700;
  }
}

/*Footer*/
.footer {
  background-color: #acd8ad;
  height: 55px;
  font-family: "Lato", italic;
  color: #ffffff;
  font-size: 0.85em;
  font-weight: 400;
  margin-top: 48px;
  text-align: center;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .footer {
    height: 97px;
    font-family: "Lato", italic;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 117px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .footer {
    height: 97px;
    font-family: "Lato", italic;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 84px;
  }
}
@media screen and (min-width: 985px) {
  .footer {
    height: 97px;
    font-family: "Lato", italic;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 37px;
    padding-right: 37px;
    margin-top: 128px;
  }
}
.footer__img {
  display: none;
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .footer__img {
    display: block;
  }
}
@media screen and (min-width: 985px) {
  .footer__img {
    display: block;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 985px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__top {
  padding-top: 13px;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .footer__top {
    padding-top: 28px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .footer__top {
    padding-top: 0;
  }
}
@media screen and (min-width: 985px) {
  .footer__top {
    padding-top: 0;
  }
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .footer__bottom {
    padding-top: 7px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .footer__bottom {
    margin-left: 3px;
  }
}
@media screen and (min-width: 985px) {
  .footer__bottom {
    margin-left: 3px;
  }
}

/*Font Awesome styles and Pixel Perfect hone*/
.fas.fa-beer {
  font-size: 22px;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .fas.fa-beer {
    font-size: 42px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .fas.fa-beer {
    font-size: 42px;
  }
}
@media screen and (min-width: 985px) {
  .fas.fa-beer {
    font-size: 48px;
  }
}

.fas.fa-wine-glass-alt {
  font-size: 23px;
}
@media screen and (min-width: 325px) and (max-width: 640px) {
  .fas.fa-wine-glass-alt {
    font-size: 42px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .fas.fa-wine-glass-alt {
    font-size: 42px;
  }
}
@media screen and (min-width: 985px) {
  .fas.fa-wine-glass-alt {
    font-size: 48px;
  }
}

.closer {
  margin-right: 7.5%;
}

.two-itemed {
  margin-top: 4px;
}

.four-itemed {
  margin-top: 2px;
}

.cup {
  margin-right: 4.6%;
  margin-top: 13px;
}

.last {
  margin-top: 17px;
}

@media screen and (min-width: 325px) and (max-width: 640px) {
  .nappkin {
    width: 49px;
    height: 48px;
    margin-top: 12px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .nappkin {
    width: 42px;
    height: 42px;
  }
}
@media screen and (min-width: 985px) {
  .nappkin {
    width: 49px;
    height: 48px;
  }
}

@media screen and (min-width: 325px) and (max-width: 640px) {
  .cup-o-tea {
    width: 61px;
    height: 42px;
  }
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .cup-o-tea {
    width: 56px;
    height: 39px;
  }
}
@media screen and (min-width: 985px) {
  .cup-o-tea {
    width: 61px;
    height: 42px;
  }
}

@media screen and (min-width: 325px) and (max-width: 640px) {
  .first-child {
    margin-top: 0;
  }
}

.invisible {
  display: none;
}
@media screen and (min-width: 641px) and (max-width: 980px) {
  .invisible {
    display: flex;
  }
}
@media screen and (min-width: 985px) {
  .invisible {
    display: flex;
  }
}

/*# sourceMappingURL=hw1.css.map */
